<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{event['title']}}</title>
</head>
<body>
<h2 style="text-align: center;"><strong>Подія {{event['title']}}</strong></h2>
<ul>
<li><strong>Назва:&nbsp;{{event['title']}}</strong></li>
<li><strong>Опис:&nbsp;{{event['description']}}</strong></li>
<li><strong>Дата створення:&nbsp;{{event['event_date']}}</strong></li>
<li><strong>Виконати до:&nbsp;{{event['due_to_date']}}</strong></li>
    <li><strong>Статус:&nbsp;{{event['status']}}</strong></li>
</ul>
<hr />
<div>
   {% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert-message block-message error">
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
     {% with OK = get_flashed_messages(category_filter=["OK"]) %}
{% if OK %}
<div class="alert-message">
  <ul>
    {%- for msg in OK %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
<hr />
{% endif %}
{% endwith %}
</div>
<p style="text-align: center;"><button class="favorite styled" type="button"><a href="/vacancy/{{vacancy['id']}}/events/">Повернутися до всіх подій</a></button></p>
<hr />
<form action="" method="POST">
<div>
<h1 style="text-align: center;">Редагувати подію</h1>
</div>
<div style="text-align: center;"><label for="title">Назва:</label> <input id="title" name="title" type="text" value="{{event['title']}}"/></div>
<div style="text-align: center;"><label for="description">Опис: </label> <input id="description" name="description" type="text" value="{{event['description']}}" /></div>
<div style="text-align: center;"><label for="due_to_date">Виконати до:</label> <input id="due_to_date" name="due_to_date" type="text" value="{{event['due_to_date']}}"/></div>
<div style="text-align: center;"><label for="status">&nbsp; Статус: </label> <input id="status" name="status" type="text" value="{{event['status']}}"/></div>
<div style="text-align: center;"><button>Редагувати</button></div>
</form>
<hr />
</body>
</html>