<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Vacancy</title>
</head>
<body>
<h1 style="text-align: center;">Список вакансій</h1>
<hr />
<div>
<table style="border-collapse: collapse; width: 100%; height: 36px;" border="1">
<tbody>
<tr style="height: 18px;">
    <td style="width: 10.6061%; height: 18px; text-align: center;"><strong>Посада</strong></td>
    <td style="width: 16.9508%; height: 18px; text-align: center;"><strong>Компанія</strong></td>
<td style="width: 21.7803%; height: 18px; text-align: center;"><strong>Дата створення</strong></td>
<td style="width: 23.0587%; height: 18px; text-align: center;"><strong>Опис</strong></td>
<td style="width: 14.1099%; height: 18px; text-align: center;"><strong>Контакти</strong></td>
<td style="width: 14.1099%; height: 18px; text-align: center;"><strong>Коментар</strong></td>
<td style="width: 8.33335%; height: 18px; text-align: center;"><strong>Статус</strong></td>
</tr>
{% for vacancy in vacancies %}
<tr style="height: 18px;">
<td style="width: 21.7803%; height: 18px; text-align: center;"><a href="{{vacancy['user_id']}}/">{{vacancy['position_name']}}</a></td>
<td style="width: 16.9508%; height: 18px; text-align: center;">{{vacancy['company']}}</td>
<td style="width: 14.1099%; height: 18px; text-align: center;">{{vacancy['creation_date']}}</td>
<td style="width: 23.0587%; height: 18px; text-align: center;">{{vacancy['description']}}</td>
<td style="width: 23.0587%; height: 18px; text-align: center;">{{vacancy['contact_ids']}}</td>
<td style="width: 10.6061%; height: 18px; text-align: center;">{{vacancy['comment']}}</td>
<td style="width: 8.33335%; height: 18px; text-align: center;">{{vacancy['status']}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<hr />
<div>
   {% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert-message block-message error">
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
     {% with OK = get_flashed_messages(category_filter=["OK"]) %}
{% if OK %}
<div class="alert-message">
  <ul>
    {%- for msg in OK %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
</div>
<form action="" method="POST">
<div>
<h1 style="text-align: center;">Додати вакансію</h1>
</div>
<div style="text-align: center;"><label for="company">&nbsp; Компанія*:</label> <input id="company" name="company" type="text"/>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
<div style="text-align: center;"><label for="description">Опис*: </label> <input id="description" name="description" type="text"/></div>
<div style="text-align: center;"><label for="position">&nbsp; &nbsp; &nbsp;Посада*: </label> <input id="position" name="position_name" type="text"/>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
<div style="text-align: center;"><label for="contact_ids">&nbsp;Контакти*: </label> <input id="contact_ids" name="contacts_ids" type="text" />&nbsp; &nbsp; &nbsp; &nbsp;</div>
<div style="text-align: center;"><label for="comment">&nbsp; Коментар: </label> <input id="comment" name="comment" type="text"/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
<div style="text-align: center;"><button>Додати</button></div>
</form>
<hr />
</body>
</html>