<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>New Vacancy</title>
    <script>
        function showFields() {
        if(document.getElementById("form").style.display=='')
        {
        document.getElementById("form").style.display = 'flex';
        }
        else
        document.getElementById("form").style.display = '';
}
    </script>
</head>
<body>
<div class="dashboard">

</div>
<div id="main-block">
<h1>Список вакансій</h1>
<hr />
<div>
<table>
<tbody>
<tr>
<th><strong>Посада</strong></th>
<th><strong>Компанія</strong></th>
<th><strong>Дата створення</strong></th>
</tr>
{% for vacancy in vacancies %}
<tr>
<td><a href="{{vacancy['id']}}/">{{vacancy['position_name']}}</a></td>
<td>{{vacancy['company']}}</td>
<td>{{vacancy['creation_date']}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<hr />
<div>
   {% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert-message block-message error">
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
     {% with OK = get_flashed_messages(category_filter=["OK"]) %}
{% if OK %}
<div class="alert-message">
  <ul>
    {%- for msg in OK %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
</div>
    <div><button class="button" onclick="showFields()">Додати нову вакансію</button></div>
<form id="form" action="" method="POST">
<div>
<h1>Додати вакансію</h1>
</div>
<div><label for="company">Компанія*:</label> <input id="company" name="company" type="text"/></div>
<div><label for="description">Опис*: </label> <input id="description" name="description" type="text"/></div>
<div><label for="position">Посада*: </label> <input id="position" name="position_name" type="text"/></div>
<div><label>Ім'я*: </label> <input id="name" name="name" type="text"/></div>
<div><label>Email*: </label> <input id="email" name="email" type="text"/></div>
<div><label>Номер телефону*: </label> <input id="phone_number" name="phone_number" type="text"/></div>
<div><label for="comment">Коментар: </label> <input id="comment" name="comment" type="text"/></div>
<div><button class="button">Додати</button></div>
</form>
<hr />
</div>
<div id="vacancy-block">
</div>
</body>
</html>