{% extends 'vacancy_list.html' %}

{% block vacancy %}
    <!-- Правая часть (Реклама) -->
    <div class="advertising">
            <div class="vacancy-card">
        <div class="company-info">
          <h2 class="company-name">{{vacancy['position_name']}}</h2>
          <p>в</p>
          <p class="company-description">{{vacancy['company']}}</p>
        </div>
        <div class="vacancy-info">
          <h3 class="position">{{vacancy['description']}}</h3>
          <p class="contact-info"><b>Контактна інформація</b></p>
           {% for contact in contacts %}
          <p class="contact-name"> Ім'я: {{contact['name']}}</p>
          <p class="contact-email"> Email: {{contact['email']}}</p>
          <p class="contact-phone"> Номер телефону: {{contact['phone_number']}}</p>
        {% endfor %}
          <p class="comment"><b>Коментар</b></p>
          <p class="comment">{{vacancy['comment']}}</p>
          <p class="status"><b>Статус</b></p>
          <p class="status">{{vacancy['status']}}</p>
        </div>
      </div>
    </div>
{% endblock %}