<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{vacancy[6]}}</title>
</head>
<body>
<h2 style="text-align: center;"><strong>Вакансія {{vacancy[6]}}</strong></h2>
<ul>
<li><strong>Посада:&nbsp;{{vacancy[6]}}</strong></li>
<li><strong>Компанія:&nbsp;{{vacancy[3]}}</strong></li>
<li><strong>Дата створення:&nbsp;{{vacancy[1]}}</strong></li>
<li><strong>Опис:&nbsp;{{vacancy[5]}}</strong></li>
<li><strong>Контакти:&nbsp;{{vacancy[4]}}</strong></li>
<li><strong>Статус:&nbsp;{{vacancy[2]}}</strong></li>
</ul>
<div style="text-align: center;"><button><a href="events/">Показати події</a></button></div>
</body>
</html>